stack/n8n/flujo-contacto.json
{
  "name": "Contacto web",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contacto",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-contacto",
      "name": "Webhook contacto",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "contacto"
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || $json;\nconst nombre = (b.nombre || '').trim();\nconst telefono = (b.telefono || '').trim();\nconst asunto = (b.asunto || '').trim();\nif (!nombre || !telefono || !asunto || nombre.length > 80 || /https?:\\/\\//i.test(nombre + asunto)) {\n  return [];\n}\nreturn [{ json: {\n  nombre,\n  telefono,\n  asunto: asunto.slice(0, 500),\n  idioma: (b.idioma || 'es').slice(0, 5),\n  fecha: new Date().toISOString(),\n  atendido: false\n} }];"
      },
      "id": "validar-contacto",
      "name": "Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "Yoga",
        "table": "Contactos",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "guardar-contacto",
      "name": "Guardar en NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [440, 0],
      "notes": "Elegir credencial NocoDB y, en Project/Base, seleccionar Yoga; en Table, Contactos."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "responder-contacto",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Webhook contacto": { "main": [[{ "node": "Validar", "type": "main", "index": 0 }]] },
    "Validar": { "main": [[{ "node": "Guardar en NocoDB", "type": "main", "index": 0 }]] },
    "Guardar en NocoDB": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
