stack/n8n/flujo-sondeo-interes.json
{
  "name": "Interes actividades",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-interes",
      "name": "Webhook Me interesa",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "interes"
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || $json;\nconst nombre = (b.nombre || '').trim();\nconst contacto = (b.contacto || '').trim();\nconst actividad = (b.actividad || '').trim();\nif (!nombre || !contacto || !actividad || nombre.length > 80 || /https?:\\/\\//i.test(nombre)) {\n  return [];\n}\nconst franjas = Array.isArray(b.franjas) ? b.franjas.join(',') : (b.franjas || '');\nreturn [{ json: {\n  actividad,\n  nombre,\n  contacto,\n  franjas,\n  idioma: (b.idioma || 'es').slice(0, 5),\n  fecha: new Date().toISOString()\n} }];"
      },
      "id": "validar-interes",
      "name": "Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "create",
        "projectId": "Yoga",
        "table": "Interesados",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "guardar-interes",
      "name": "Guardar en NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [440, 0],
      "notes": "Elegir credencial NocoDB; Project/Base: Yoga; Table: Interesados."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "responder-interes",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Webhook Me interesa": { "main": [[{ "node": "Validar", "type": "main", "index": 0 }]] },
    "Validar": { "main": [[{ "node": "Guardar en NocoDB", "type": "main", "index": 0 }]] },
    "Guardar en NocoDB": { "main": [[{ "node": "Responder OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
